flake8==3.9.2
flake8-builtins==1.5.3
pep8-naming==0.12.1
flake8-commas==2.0.0
flake8-variables-names==0.0.4
flake8-import-order==0.18.1
alembic==1.7.3
click==8.0.1
Flask==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
SQLAlchemy==1.4.25
Werkzeug==2.0.1